.banner-bg{
    background-image: url("/src/assets/images/review-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    height: auto;
}
#review-height{
    height: 380px;
    overflow: hidden;
}
#see-more-style{
    color: white;
    cursor: pointer;
    text-align: center;
    padding-bottom: 2%;
}
#hide-more-style{
    color: white;
    cursor: pointer;
    text-align: center;
    padding-bottom: 2%;
    display: none;
}