.input-style{
    width: 59.5%;
    margin: 10px;
    border:none;
    border-radius: 5px;
    padding:7px;
}
.input-label{
 margin-left: 10px;
 font-weight: bold;
}
.title-div{
   margin-left: 5%;
   margin-right: 5%;
   margin-top: 15px;
}
.right-content{
    width: 90%;
    background-color: rgb(210, 61, 240);
    margin-left: 5%;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 2%;
}
.book-form{
    padding-left: 20%;
}

.amount{
    width: 430px;
    display: flex;
    justify-content: space-between;
}


